body,html{
}
h2{
  margin-top:0.2in;
  font-size:66pt;
  font-family:'Roboto-Regular';
}

p{
  font-size:16pt;
  font-family: 'Roboto-Regular';
  text-align:justify;
}
div.a {
  text-indent: 50px;
}
#space{
  height: 48%;
  width: 100%;
}
#blackimage{
  position:absolute;
  height:3.5in;
  width:3.425in;
  top:0in;
  z-index:0;
}
#image1{
  position:absolute;
  height:3.5in;
  width:3.425in;
  top:0in;
}
#image2{
  position:relative;
  height:3.5in;
  width:3.425in;
  top:55pt;
}
#Image3{
  margin-top:50pt;
  height:3.7in;
  width:3.425in;
}
#Image4{
  height:3.5in;
  width:3.425in;
}
#caption{
  margin-top:50%;
  font-family:'Roboto-medium';
  font-size:10pt;
  text-align:right;
}
#caption2{
  font-family:'Roboto-medium';
  font-size:10pt;
  text-align:right;
}
#caption3{
  position:absolute;
  margin-top:52%;
  font-family:'Roboto-medium';
  font-size:10pt;
  text-align:left;
}
/* #back{
  margin:0;
  background-color:black;
} */
